@font-face {
    font-family: 'gandhi_serifregular';
    src: url('fonts/gandhiserif-regular-webfont.woff2') format('woff2'),
         url('fonts/gandhiserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('fonts/droidsans-webfont.woff2') format('woff2'),
         url('fonts/droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CSS RESET dong bo hoa */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* OUR CODE */

/* DESKTOP */
body {
	width: 100%;
	height: auto;
	font-size: 2.4vw;
}
#page-content {
	max-width: 1280px;
	margin: 0 auto;
}
#page-header > .section	{
	width: 100%;
}
div#page-header {
	background-image: url('img/1pg-of-desktop.png');
	-webkit-background-size: contain;
	background-size: contain;
	height: 130.6vw;
	background-repeat: no-repeat;
}
div#page-header #text {
	margin: 0 20%;
	padding-top: 100%;
	text-align: justify;
}

div#page-header #text p {
	margin-bottom: 1em;
	font-family: 'gandhi_serifregular' ;
	line-height: 1.1em;
}

div#texture {
	/*position: absolute;*/
	/*top: 115%;*/
	background-color: 
}  

.section img {
	width: 100%;
}
.section {
    background-color: #F1ECED;
    text-align: center;
}
.section img.logo {
	width: 36%;
	margin: 0 32%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #0000;
    text-align: right;
    padding: 14px 30px;
    text-decoration: none;
	border-bottom: 5px solid rgba(0,0,0,0);
}

li a:hover {
    border-bottom: 5px solid rgba(0,0,0,0.0);
}
.navigation {
	display: inline-block;
}

.image-wrapper {
	padding: 0 7px;
	margin-top: 50%;
	/*padding: padding-v padding-h;*/
}
.image-wrapper .item {
	width: 50%;
	padding: 7px;

	float: left;
	position: relative;
	overflow: hidden;
}
.image-wrapper .item .description {
	position: absolute;
	left: 7px;
	right: 7px;
	top: 100%;

	transition: top 0.40s ease-in;
}
.image-wrapper .item:hover .description {
	top: 50.83%;
}



/* MOBILE - iPAD */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
	width: 100%;
	height: auto;
	font-size: 2.4vw;
}
#page-content {
	max-width: 1280px;
	margin: 0 auto;
}
#page-header > .section	{
	width: 100%;
}
div#page-header {
	background-image: url('img/Des/firstpage.png');
	-webkit-background-size: contain;
	background-size: contain;
	height: 130.6vw;
	background-repeat: no-repeat;
}
div#page-header #text {
	margin: 0 20%;
	padding-top: 100%;
	text-align: justify;
}

div#page-header #text p {
	margin-bottom: 1em;
	font-family: 'gandhi_serifregular' ;
	line-height: 1.1em;
}

div#texture {
	/*position: absolute;*/
	/*top: 115%;*/
	background-color: 
}  

.section img {
	width: 100%;
}
.section {
    background-color: #F1ECED;
    text-align: center;
}
.section img.logo {
	width: 36%;
	margin: 0 32%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #0000;
    text-align: right;
    padding: 14px 30px;
    text-decoration: none;
	border-bottom: 5px solid rgba(0,0,0,0);
}

li a:hover {
    border-bottom: 5px solid rgba(0,0,0,0.0);
}
.navigation {
	display: inline-block;
}

.image-wrapper {
	padding: 0 7px;
	margin-top: 50%;
	/*padding: padding-v padding-h;*/
}
.image-wrapper .item {
	width: 50%;
	padding: 7px;

	float: left;
	position: relative;
	overflow: hidden;
}
.image-wrapper .item .description {
	position: absolute;
	left: 7px;
	right: 7px;
	top: 100%;

	transition: top 0.40s ease-in;
}
.image-wrapper .item:hover .description {
	top: 50.83%;
}

}

/* MOBILE - iPHONE */
/*
Anh note lại một chút về những chỉnh sửa trong file css này và nguyên nhân để em hiểu nhé :v
css cho body chỉ còn thuộc tính font-size: 16px. width=100% và height=auto mặc định đã định nghĩa ở trên rồi
  xuống dưới không cần định nghĩa lại, chỉ override fontsize thôi
  vì những css selector mà không nằm trong thẻ media nào, mặc định apply trên tất cả các thiết bị
  và css override theo thứ tự từ trên xuống dưới, do đó chỉ cần thay dổi font trong media cho mobile là đủ
#page-header anh chỉ tăng height lên (vì nếu xoá height đi để apply height phía trên thì trông trang web hơi buồn cười @@)
#page-header #text chỉnh lại canh lề hai bên cho đúng với đặc trưng layout của mobile (margin = 16px là ổn)
Cứ theo nguyên tắc override đó mà em tiếp tục chỉnh sửa css bên trong media mobile (và xoá bớt những thuộc tính không cần override lại
  cho css đỡ dài dòng nhé :v)
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  body {
    font-size: 16px;
  }
  #page-content {
    max-width: 667px;
    margin: 0 auto;
  }
  #page-header > .section {
    width: 100%;
  }
  div#page-header {
    height: 160vw;
  }
  div#page-header #text {
    margin: 0 16px;
  }

  div#page-header #text p {
    margin-bottom: 1em;
    font-family: 'gandhi_serifregular' ;
    line-height: 1.1em;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: #0000;
      text-align: right;
      padding: 14px 30px;
      text-decoration: none;
    border-bottom: 5px solid rgba(0,0,0,0);
  }

  li a.pl{
    background-image: url('img/Mobi/nav1.png')
  }

  .navigation {
    display: inline-block;
  }


  /* do stuff here */
}

/* FOR IMAC */
@media only screen and (min-device-width: 1280px) {
	body {
		font-size: 32px;
	}
}
